@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh; overflow: hidden;">
    <img src="https://tse2.mm.bing.net/th?id=OIP.9KvtOr-0mGmZfkO58eBV-AAAAA&pid=Api&P=0&h=180"
         style="transform: scale(2); transform-origin: center;"
         alt="Home Banner" />
</div>

