@page
<h3 class="text-danger">Forbidden</h3>
<h4 class="text-danger">You do not have permission to do this function!</h4>
<div>
    <form asp-controller="Auth" asp-action="Logout" method="post" class="mb-0">
        <button type="submit" class="btn btn-outline-danger btn-sm">SignIn other account</button>
    </form>
</div>